--extra-index-url https://download.pytorch.org/whl/cpu
fastapi
uvicorn
python-dotenv
firebase-admin
google-cloud-firestore
python-multipart
pytesseract
opencv-python
Pillow
pdf2image
numpy
transformers==4.38.2
torch
sentencepiece
pdfplumber


yake
yt-dlp
